<% if flash.notice.present? %>
  <p class="alert alert-success alert-dismissible fade show text-truncate">
    <%= flash.notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </p>
<% elsif flash.alert.present? %>
  <p class="alert alert-danger alert-dismissible fade show text-truncate">
    <%= flash.alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </p>
<% end %>
